<html>
    <head>
        <link rel="stylesheet" href="laskuri.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

      <!--laskurin alustus-->
        <div id=app>
          <div class="flexcontainer">
            <button class="halfitem topbar" v-on:click="startRace">
              <h2>Start</h2>
            </button>
            <div class="halfitem topbar">
              <p>Race OFF</p>
              <p>00.00.00</p>
            </div>
          </div>

            <!--taulukko-->
          <div class="flexcontainer">
            <div class="halfitem sheet">
              <p class="racerstats-header">RACERS:</p>
              <div class="racerstats" v-for="rider in riders">
                {{rider.lastname}} #{{rider.number}} : {{rider.laps.length}} / 5
              </div>
            </div>

            <div class="halfitem addrider-container">
              <input class="addrider fullitem" placeholder="Number" v-model="newRiderNumber" v-on:keyup.enter="addRider">
              <input class="addrider fullitem" placeholder="Firstname" v-model="newRiderFirstName" v-on:keyup.enter="addRider">
              <input class="addrider fullitem" placeholder="Lastname" v-model="newRiderLastName" v-on:keyup.enter="addRider">
            </div>
          </div>
          <div class="flexcontainer">
          <button class="addrider fullitem" @click="addRider">
            + ADD
          </button>
          </div>


        <!--laskuri-->
        <div class="flexcontainer">
          <div class="item">
            <button v-for="rider in sortedRiders" @click="addLap(rider.number)">
              {{rider.number}}
            </button>
          </div>
        </div>
      </div>
        <!--linkki javascriptiin-->
      <script src="laskuri.js"></script>

    </body>
</html>
