#app {
  width: 375px;
}
.addrider{
  font-size: 12px;
  font-weight: bold;
  border-color: darkgrey;
  border-width: 2px;
  height: 60px;
}
.topbar{
  border-style: solid;
}
button.addrider{
  background-color: grey;
  color: white;
}
.racerstats-header{
  font-weight: bold;
  padding: 20px;
}
.sheet{
  border-width: 0.5px;
  border-style: solid;
  border-color: red;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flexcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.halfitem{
  width: 50%;
}
.fullitem{
  width: 100%;
}
