#app {
  width: 375px;
}
.addrider{
  font-size: 12px;
  font-weight: bold;
  border-color: darkgrey;
  border-width: 2px;
  height: 60px;
}
button.addrider{
  background-color: grey;
  color: white;
}
.addrider-container {
  flex-grow: 1;
}
.sheet{
  margin: 1px;
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
  border-color: red;
  font-size: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flexcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.item{
  flex-grow: 1;
}
